@media (max-width:1160px){
    
   .container{ 
    width: 100%;
}
}


@media (max-width: 768px)  {
    
    section > .container {
        width: 100%;
    }
   
}


@media (max-width: 480px) {
 
   .container .row {
    display: flex;  
    flex-wrap: wrap;
    gap: 4.5rem
   }

   
    .lessons .col {
        width: 100%;
    }
    

    .steps .col {
        width: calc(100%);
    }

    .why-us .col{
        width: 100%;
    }
    
    .steps.text-center {
        margin-bottom: 0;
    }

    .why-us {
        background-color: black;
        margin-bottom: 0;
        padding: 3rem;
    }
}
